/* QuizApp.css */

.quiz-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-heading {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.question-number {
  font-size: 2em;
  color: #333;
}

.question-text {
  font-size: 1.5em;
  color: #555;
}

.timer {
  font-size: 1.2em;
  color: #777;
}

.score {
  font-size: 1.2em;
  color: #777;
}

.option-container {
  margin-bottom: 10px;
}

.option-input {
  margin-right: 5px;
}

.option-label {
  font-size: 1em;
  color: #555;
}

.next-button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #0056b3;
}
